.navbar {
  position: fixed;
  z-index: 100;
  top: 10%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  width: 50px;
  height: 231px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 2px 5px 20px 0 rgba(128, 95, 51, 0.25);
  transition: 0.2s;

  &:hover {
    width: 196px;
    height: 231px;
    opacity: 1;
    visibility: visible;
  }
}

.navbar a {
  font-size: 0.01px;
}

.wrap:hover ~ .navbar {
  opacity: 1;
  visibility: visible;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 185px;
  padding: 0;
  padding-right: 15px;
  list-style: none;
  text-align: right;
}

.navbar ul li {
  display: inline-block;
  list-style: none;
}

.navbar a span {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  border: 1px solid #c39a53;
  border-radius: 50%;
}

.navbar a:hover,
.navbar a.active {
  opacity: 1;
  color: #000;
}

.navbar a:hover span,
.navbar a.active span {
  background-color: #c39a53;
}

.navbar:hover ul li a {
  font-size: 18px;
  line-height: 2.2;
  display: inline-block;
  transition: 0.5s;
  vertical-align: baseline;
  text-decoration: none;
  opacity: 0.85;
  color: #626262;
}
